{
    "presets": ["env", "react", "stage-2", "stage-3"],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "react-loadable/babel",
        "dynamic-import-node"
    ]
}
